@*@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}*@

<div class="page-header">
    <h1>
        Account activation complete
    </h1>
        <div>
            Click <a asp-action="Login" asp-controller="Account">here</a> to login.
        </div>
</div>